<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>PRODUCTS FORM#</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>LIST OF PRODUCTS</h1>

<table>
    <tr>
        <th>PRODUCT NAME</th>
        <th>PRICE (HUF)</th>
        <th>QUANTITY</th>
        <th>SHOPPING CART</th>
    </tr>
    <tr th:each="product : ${productlist}" th:object="${product}">
        <td th:text="*{name}"></td>
        <td th:text="*{price}"></td>
        <td>
            <form th:action="@{/} + *{name}" method="Post">
                <input type="number" name="quantity" min="0" value="1" }>
                <button type="submit">Add to cart</button>
            </form>
        </td>
        <td th:text="*{quantity}"></td>
    </tr>
</table>
<a href="/orders" class="button">Buy Now</a>
</body>
</html>


